#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0px;
}

.display-about {
    margin-top: 100px;
    display: flex;
    width: 50%;
    align-items: center;
}

.display-aboutSec {
    margin-top: 50px;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.display-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-picture {
    width: 400px;
    margin-right: 30px;
    border-radius: 200px;
}
#about p {
    font-size: 40px;
}

#about li {
    font-size: 26px;
    margin-top: 10px;
    list-style: none;
}

#about ul {
    padding: 0;
}

.about-text {
    text-align: center;
}



@media (max-width: 1520px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 200px 0px;
    
    }
    .about-picture {
        width: 300px;
        margin-right: 30px;
        border-radius: 200px;
    }
    #about p {
        font-size: 40px;
    }
    .about-text {
        text-align: center;
    }
}

@media (max-width: 600px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0px;
    
    }
    .about-picture {
        width: 30%;
        margin-right: 24px;
        border-radius: 200px;
    }
    #about p {
        font-size: 30px;
    }
    .about-text {
        text-align: center;
    }
}