#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0px;
}

.display-about {
    margin-top: 100px;
    display: flex;
    width: 50%;
    align-items: center;
    
    border-radius: 30px;
}
.display-aboutSec {
    margin-top: 50px;
    display: flex;
    width: 50%;
    justify-content: space-around;
    background: radial-gradient(circle,#9d2e89 0,rgba(107,107,248,.8) 100%);
    border-radius: 20px;
}

#light .display-aboutSec{
    background: radial-gradient(50% 50% at 50% 50%, rgba(235, 18, 18, 0.86) 0%, rgba(177, 72, 73, 0.858533) 0.01%, rgba(166, 73, 128, 0.689792) 60.42%, rgba(203, 74, 74, 0.6536) 100%);
}

.display-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.about-picture {
    width: 400px;
    margin-right: 30px;
    border-radius: 200px;
}
#about p {
    font-size: 40px;
}
#about li {
    font-size: 26px;
    margin-top: 10px;
    list-style: none;
}
#about ul {
    padding: 0;
}

.about-text {
    text-align: center;
}

@media (max-width: 1520px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 200px 0px;
        width: 100%;
    }
    .display-about {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;  
    }
    .display-aboutSec {
        background: none;
        margin-top: 50px;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    #light .display-aboutSec {
        background: none;
    }
    .about-picture {
        width: 300px;
        margin-right: 30px;
        border-radius: 200px;
    }
    #about p {
        font-size: 40px;
    }
    .about-text {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0px;
    }
    .display-about {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .display-aboutSec {
        margin-top: 50px;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .about-picture {
        width: 30%;
        margin-right: 24px;
        border-radius: 200px;
    }
    #about p {
        font-size: 1.4rem;
    }
    .about-text {
        display: flex;
        margin: 0% 10%;
    }
}