.header {    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    position: relative;
}


.header-title {
    display: flex;
    align-items: center;
}

.header-title p{
    font-size: 1.8em;
    margin-left: 10px;
}

.header-nav {
    margin-top: 8%;
    background-color:#D9D9D9;
    border-radius: 17px;
}

.header-nav a {
    text-decoration: none;
}

.header-nav ul{
    display: flex;
    flex-direction: row;
}

#light .header-nav li{
    margin-right: 15px;
    list-style: none;
    color: black;
}

#dark .header-nav li{
    margin-right: 15px;
    list-style: none;
    color: white;
}


