.header {    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-nav {
    display: flex;
    align-items: center;
    height: 80px;
    width: 80%;
    background-color:#757575;
    border-radius: 17px;
}
#light .header-nav {
    background-color:#d9d9d9;
}

.header-nav a {
    text-decoration: none;
}
.header-nav ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0px;
}
.header-nav li{
    margin-right: 15px;
    list-style: none;
    font-size: 20px;
    padding: 0.5rem 0.7rem;
}
#light .header-nav a{
    color: black;
}
#dark .header-nav a{
    color: white;
}
.header-nav li:hover{
    cursor: pointer;
    background: radial-gradient(circle,#f86bdf 0,rgba(107,107,248,.8) 100%);
    border-radius: 20px;
    transition:all .2s ;
    align-self: center;
}

@media (max-width: 1520px) {
    .header-nav {
        display: flex;
        align-items: center;
        width: 70%;
        height: 80px;
        border-radius: 17px;
    }
    .header-nav li{
        margin-right: 15px;
        list-style: none;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .header {    
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
        position: relative;
    }

    .header-nav {
        width: 100%;
        border-radius: 17px;
    }
    .header-nav li{
        margin-right: 0.2rem;
        list-style: none;
        padding: 0.3rem 0.5rem;
        font-size: 0.9rem;
    }
}