#skills {
    margin-bottom: 200px;
}

.title {
    text-align: center;
    margin-bottom: 80px;
    font-size: 50px;
}

.skills-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills-school {
    font-size: 32px;
    text-align: center;
}

.skills-training {
    font-size: 24px;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px 100px;
}

.skill-picture {
    width: 100px;
    height: 100px;
}
 
.skill-title {
    font-size: 15px;
}