#skills {
    margin-bottom: 200px;
}
.title {
    text-align: center;
    margin-bottom: 80px;
}
.skills-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#dark .skills-background {
    background: radial-gradient(circle,#9d2e89 0,rgba(107,107,248,.8) 100%);
    border-radius: 20px;
    padding: 1rem;
}

#light .skills-background {
    background: radial-gradient(50% 50% at 50% 50%, rgba(235, 18, 18, 0.86) 0%, rgba(177, 72, 73, 0.858533) 0.01%, rgba(166, 73, 128, 0.689792) 60.42%, rgba(203, 74, 74, 0.6536) 100%);
    border-radius: 20px;
    padding: 1rem;
}

.skills-title{
    display: flex;
    justify-content: center;
}
.skills-icons{
    height:70px ;
    width:70px ;
    margin-left: 10px;
    align-self: center;
}
.skills-school {
    font-size: 32px;
    text-align: center;
}
.skills-training {
    font-size: 24px;
    text-align: center;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px 100px;
    margin-top: 30px;
}
.skill-picture {
    width: 100px;
    height: 100px;
}
.skill-title {
    font-size: 15px;
}

@media (max-width: 1520px) {
    .title {
        text-align: center;
        margin-bottom: 80px;
    }
    .skills {
        margin-bottom: 50px;
    }
    .skills-display {
        display: flex;
        flex-direction: column;
        margin: 0% 10%;
    }
    .skills-background {
        margin: 1rem 0;
    }
    .skill-picture {
        width: 70px;
        height: 70px;
    }
    .skill-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px 20px;
    }
    .skills-school {
        font-size: 24px;
        text-align: center;
    }
    .skills-training {
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .title {
        text-align: center;
        margin-bottom: 30px;
        
    }
    #dark #skills {
        background: radial-gradient(circle,#9d2e89 0,rgba(107,107,248,.8) 100%);
        border-radius: 20px;
        margin-bottom: 50px;
        padding-top: 0.5rem;
    }
    #light #skills{
        background: radial-gradient(50% 50% at 50% 50%, rgba(235, 18, 18, 0.86) 0%, rgba(177, 72, 73, 0.858533) 0.01%, rgba(166, 73, 128, 0.689792) 60.42%, rgba(203, 74, 74, 0.6536) 100%);
        border-radius: 20px;
        margin-bottom: 50px;
        padding-top: 0.5rem;
    }

    #dark .skills-background {
        background: none;
        border-radius: 0px;
    }

    #light .skills-background {
        border-radius: 0px;
        background: none;
    }


    .skills-icons{
        height:40px ;
        width:40px ;
    }
    .skills-display {
        border-radius: 20px;
        display: flex;
        flex-direction: column;  
    }
    .skill-picture {
        width: 30px;
        height: 30px;
    }
    .skill-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px 20px;
    }
    .skills-school {
        font-size: 18px;
        text-align: center;
    }
    .skills-training {
        font-size: 14px;
        text-align: center;
    }
}
