.App {
  text-align: center;
}

body {
  margin: 0;
}

#light{
  background-color: white;
  color: black;
  transition: all 2s;
}

#dark{
  background-color:#1E1E1E;
  color: white;
  transition: all 2s;
}

.background-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 11%;
  right: 6%;
  padding: 3px;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

#dark .background-icon:hover {
  box-shadow: 0px 0px 60px 10px white;
}

#light .background-icon:hover {
  box-shadow: 0px 0px 60px 10px black;
}

* {
  font-family: 'hind', sans-serif;    
}

h1 {
  font-size:3rem;
}

h2 {
font-size:2.8rem;
}
h3 {
font-size:2.5rem;
text-align:center;
}

@media (max-width: 1520px) {
    h1 {
      font-size: 3rem;
    }
    h2 {
    font-size:2.5rem;
    }
    h3 {
    font-size:2rem;
    text-align:center;
    }
}

@media (max-width: 768px) {
    h1{
      font-size: 1.8rem;
    }
    h2 {
    font-size:1.5rem;
    }
    h3 {
    font-size:1.5rem;
    text-align:center;
    }
    .background-icon {
      top: 23%;
      right: 46%;
      padding: 3px;
    }
}
