.App {
  text-align: center;
}

body {
  margin: 0;
}

#light{
  background-color: white;
  color: black;
}

#dark{
  background-color:#1E1E1E;
  color: white;
}

.background-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 18%;
  right: 10%;
  padding: 3px;
  border: 1px solid;
  border-radius: 20px;
}

* {
  font-family: 'hind', sans-serif;    
}

h2 {
font-size:40px;
}
h3 {
font-size:36px;
text-align:center;
}





