.slider {
    margin: 200px auto 0;
    width: 100%;
    height: 860px;
    position: relative;
    overflow: hidden;
    box-shadow: inset;
}
.otherslide {
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}
.slide {
    opacity: 1;
    height: 100%;
}
.slider-title {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
}
.slider-description {
    position: absolute;
    top:48%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
    color:white;
}
.slider-tools{
    padding: 0;
    list-style: none;
    position: absolute;
    top:80%;
    left:70%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    color:white;
    display: flex;
    flex-direction: row;
}
.slider-tool{
    margin-right: 10px;
}
.slider-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.arrow_left {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top:45%;
    left:5%;
    z-index: 1;
    background-color: white;
    opacity: 0.7;
    border-radius: 60px;
    border: solid 1px black;
}
.arrow_right {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top:45%;
    right:5%;
    z-index: 1;
    background-color: white;
    opacity: 0.7;
    border-radius: 60px;
    border: solid 1px black;
}

@media (max-width: 1520px) {
    .slider {
        margin: 150px auto 0;
        height: 600px;
        position: relative;
        overflow: hidden;
        box-shadow: inset;
    }
    .arrow_right {
        width: 70px;
        height: 70px;
    }
    .arrow_left {
        width: 70px;
        height: 70px;
    }
    .slider-description {
        font-size: 1.5rem;
    }
    .slider-tools{    
        font-size: 1.7rem;
        color:white;
    }
}

@media (max-width:768px) {
    .slider {
        margin: 0px auto;
        height: 250px;
        position: relative;
        overflow: hidden;
        box-shadow: inset;
    }
    .arrow_right {
        top:43%;
        right:5%;
        height:30px ;
        width: 30px;
    }
    .arrow_left {
        top:43%;
        right:5%;
        height:30px ;
        width: 30px;
    }
    .slider-title {
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .slider-description {
        font-size: 1rem;
        top: 55%;
    }
    .slider-tools{    
        font-size: 1.2rem;
        color:white;
    }
}