.slider {
    margin: 200px auto 0;
    width: 80%;
    height: 800px;
    position: relative;
    overflow: hidden;
    box-shadow: inset;
}

.otherslide {
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 500ms ease;
    position: absolute;
}

.slide {
    opacity: 1;
    transform: translateX(0);
    
}

.slider-title {
    position: absolute;
    top:5%;
    left:8%;
    color:white;
}

.slider-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.arrow_left {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top:45%;
    left:5%;
    z-index: 1;
    background-color: white;
    opacity: 0.7;
    border-radius: 60px;
    border: solid 1px black;
}

.arrow_right {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top:45%;
    right:5%;
    z-index: 1;
    background-color: white;
    opacity: 0.7;
    border-radius: 60px;
    border: solid 1px black;
}